*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  position: relative;
  top: 50px;
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
  background: #9d352d;
  background: -moz-linear-gradient(top,  #fff 0%, #EEE 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#EEE));
  background: -webkit-linear-gradient(top,  #fff 0%,#EEE 100%);
  background: -o-linear-gradient(top,  #fff 0%,#EEE 100%);
  background: -ms-linear-gradient(top,  #fff 0%,#EEE 100%);
  background: linear-gradient(to bottom,  #fff 0%,#EEE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#EEE',GradientType=0 );
}

.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.two-3 {
  width: 65%;
}

.column.half {
  width: 47.5%;
}

.column.one-3 {
  width: 30%;
}

.column.one-4 {
  width: 21.25%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.row {
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .column.full,
  .column.two-3,
  .column.half,
  .column.one-3,
  .column.one-4 {
    margin: 1px 0;
    width: 100%;
  }
}
