*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  position: relative;
  top: 50px;
  width: 100%;
  background: #FCFAAD;
}

.column {
  float: left;
  margin-left: 5%;

  &:first-child {
    margin-left: 0;
  }

  &.full {
    width: 100%;
  }

  &.two-3 {
    width: 65%;
  }

  &.half {
    width: 47.5%;
  }

  &.one-3 {
    width: 30%;
  }

  &.one-4 {
    width: 21.25%;
  }
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.row {
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .column.full,
  .column.two-3,
  .column.half,
  .column.one-3,
  .column.one-4 {
    margin: 1px 0;
    width: 100%;
  }
}
