*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  position: relative;
  top: 50px;
  margin: 0 auto;
  max-width: 960px;
  width: 90%;

  @include linear-gradient(#fff, #eee);
}

.column {
  float: left;
  margin-left: 5%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.two-3 {
  width: 65%;
}

.column.half {
  width: 47.5%;
}

.column.one-3 {
  width: 30%;
}

.column.one-4 {
  width: 21.25%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.row {
  overflow: hidden;
  margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
  .column.full,
  .column.two-3,
  .column.half,
  .column.one-3,
  .column.one-4 {
    margin: 1px 0;
    width: 100%;
  }
}
