::-webkit-int-placeholder {
   color: $dark-gray;
   font-family: $font;
}

:-moz-placeholder {
   color: $dark-gray;
   font-family: $font;
}

::-moz-placeholder {
   color: $dark-gray;
   font-family: $font;
}

:-ms-input-placeholder {
   color: $dark-gray;
   font-family: $font;
}
