ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: solid 1px #7C7C55;
  font-size: 1.5em;
  line-height: 50px;
  padding-left: 5%;
}

li p{
  margin: 0;
  padding: 0;
}

