<script id="todos" type="text/x-handlebars-template">
  <header class="header">
    <h1 class="title-header">TODOS</h1>
    <ul class="counters">
      <li class="qtd-done">1</li>
      <li class="qtd-n-done">2</li>
    </ul>
  </header>

  <section class="container">
    <ul class="list-todo">
      <li><input type="text" class="input-new-todo" placeholder="Escreva aqui uma nova tarefa..."></li>
      {{#todos}}
        <li class="{{#if active}}task-complete{{else}}task-incomplete{{/if}}">
          <p class="{{#if active}}task-complete-title{{else}}task-incomplete-title{{/if}}">{{title}}</p>
          <button class="button btn-remove-todo">Excluir</button>
        </li>
      {{/todos}}
    </ul>
  </section>
</script>
