<header class="header">
  <h1 class="title-header">TODOS</h1>
  <ul class="counters">
    <script id="counters" type="text/x-handlebars-template">
      <li class="qtd-done">{{done}}</li>
      <li class="qtd-n-done">{{remaining}}</li>
    </script>
  </ul>
</header>
<section class="container">
  <input type="text" class="input-new-todo" placeholder="Escreva aqui uma nova tarefa..." data-new-task>
  <ul class="list-todo">
    <script id="todos" type="text/x-handlebars-template">
      {{#todos}}
        <li data-todo-id="{{id}}" class="{{#if active}}task-complete{{else}}task-incomplete{{/if}}">
          <p id="todo-title" class="{{#if active}}task-complete-title{{else}}task-incomplete-title{{/if}}">{{title}}</p>
          <button class="button btn-remove-todo">Excluir</button>
        </li>
      {{/todos}}
    </script>
  </ul>
</section>
