<script type="text/x-handlebars" data-template-name="todos">
  <header>
    <h1>TODOS</h1>
    <ul class="datas">
      <li class="qtd-done">3</li>
      <li class="qtd-n-done">5</li>
    </ul>
  </header>

  <section>
    <ul class="list-todo">
      <li>
      {{input type="text" id="new-todo" placeholder="Escreva uma nova tarefa..." class="input-new-todo" value=newTitle action="createTodo"}}</li>
      {{#each itemController="todo"}}
        <li {{bind-attr class="active:task-complete:task-incomplete"}}>
          {{input type="checkbox" checked=active class="toggle"}}
          <p>{{title}}</p>
          <button class="btn-remove-todo" {{action "deleteTodo"}}>Excluir</button>
        </li>
      {{/each}}
    </ul>
  </section>
</script>
