<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>TodoList</title>
  <%= stylesheet_link_tag    "todo", :media => "all" %>
  <%= javascript_include_tag "vue" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
